h1 {
	font-family: 'Magic School One';
	font-size: 50px;
	line-height: 55px;
	text-align: center;
}
p {
	font-family: 'Magic School Two';
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

form .firstPlayerInput {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

form .secondPlayerInput {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

form button[type="submit"] {
	margin-top: 20px;
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	font-size: 0;
	background-image: url("Icons/playbutton.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

form button[type="submit"]:hover {
	background-image: url("Icons/playbuttonHover.png");
}

.playingGround {
	position: relative;
	margin-top: -25px;
}

.playingGround .opponentsCardDeck, .playingGround .ownCardDeck {
	max-width : 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
}

.playingGround .card {
	width: 80px;
	height: 130px;
	transition: all .4s ease-out;
}

.playingGround .card img {
	width: 80px;
	height: 130px;
	transition: all .4s ease-out;
	pointer-events: none;
}
.playingGround .opponentsCardDeck .card img {
	transform-origin: top left;
	/*background-image: url(Karten/blaue8.png);*/
}
.playingGround .opponentsCardDeck .card {
	pointer-events: all;
}
.playingGround .opponentsCardDeck.noTurn .card {
	pointer-events: none;
}
.playingGround .ownCardDeck .card img {
	transform-origin: bottom left;
	/*background-image: url(Karten/blaue10.png);*/
}
.playingGround .opponentsCardDeck .card:hover img, .playingGround .ownCardDeck .card:hover img {
	transform: scale(1.5);
}

.playingGround .playingBoard {
	width: 300px;
	height: 300px;
	display: block;
	background-color: #cccccc;
	margin-left: auto;
	margin-right: auto;
}
.playingGround .trumpDisplay {
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
}
.playingGround .trumpDisplay .trumpColorWrap {
	width: 50px;
	height: 50px;
	display: block;
	background-color: #ff0000;
}
.playingGround .pointBoard {
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 100%;
}
.playingGround .pointBoard .row {
	display: flex;
} 
.playingGround .pointBoard .row > div {
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #000;
}
.playingGround .pointBoard .row > div:first-child {
	flex-basis: 40px;
	max-width: 40px;
	width: 100%;
}

.playingGround .pointBoard .row.firstRow > div:not(:first-child) {
	flex-basis: calc((100% - 40px) / 2);
	max-width: calc((100% - 40px) / 2);
	width: 100%;
}

.playingGround .pointBoard .row:not(.firstRow) .playerOnePoints, .playingGround .pointBoard .row:not(.firstRow) .playerTwoPoints {
	flex-basis: calc(((100% - 40px) / 2) - 40px);
	max-width: calc(((100% - 40px) / 2) - 40px);
	width: 100%;
}

.playingGround .pointBoard .row:not(.firstRow) .playerOneTricks, .playingGround .pointBoard .row:not(.firstRow) .playerTwoTricks {
	flex-basis: 40px;
	max-width: 40px;
	width: 100%;
}