body {
	background-image: url("Images/ingame.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body.startView {
	background-image: url("Images/start.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body.startView h1, body.startView p, .firstPlayerInput label, .secondPlayerInput label {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,0.9);
}

body .startText {
	position: relative;
}

.lightboxEvaluation {
	position: fixed;
	bottom: 25px;
	left: 25px;
	padding: 25px;
	background-color: white;
	z-index: 3;
	transition: all .4s ease-out;
	opacity: 0;
}

.lightboxEvaluation p {
	margin-bottom: 0;
}

.lightboxTricksOuter {
	position: absolute;
	top: 50%;
	background-color: transparent;
	z-index: 2;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	text-align: center;
	margin-top: 10px;
}

.lightboxTricksOuter p {
	color: #fff;
}

.lightboxTricksOuter .trickamountContainer {
	display: flex;
	justify-content: center;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 20px;
}

.lightboxTricksOuter .trickamountContainer .trick {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.lightboxTricksOuter .trickamountContainer .trick label {
	/*font-family: 'Magic School One';*/
	font-family: 'Fontdinerdotcom Jazz Dark';
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.lightboxTricksOuter .trickamountContainer .trick input {
	width: 40px;
	height: 55px;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #fff;
}

.lightboxTricksOuter .trickamountContainer .trick input:focus {
	outline: none;
}

.lightboxTricksOuter .trickamountContainer .trick input:checked {
	border: 1px solid #9466a9;
}

.lightboxTricksOuter .trickamountContainer .trick input:checked + label {
	color: #9466a9;
}

.lightboxTricksOuter .confirmationTricks {
	-webkit-appearance: none;
	appearance: none;
	/*font-family: 'Magic School Two';*/
	font-family: 'Fontdinerdotcom Jazz Dark';
	font-size: 0;
	border: none;
	background-color: transparent;
	position: relative;
	padding-right: 50px;
	display: block;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.lightboxTricksOuter .confirmationTricks::before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background-image: url("Icons/playbutton.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: all .4s ease-out;
}

.lightboxTricksOuter .confirmationTricks::after {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background-image: url("Icons/playbuttonhover.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all .4s ease-out;
}

.lightboxTricksOuter .confirmationTricks:hover::before {
	opacity: 0;
}


.lightboxTricksOuter .confirmationTricks:hover::after {
	opacity: 1;
}

h1 {
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	/*font-family: 'Magic School Two';*/
	font-family: 'Fontdinerdotcom Jazz Dark';
}

p {
	/*font-family: 'Magic School One';*/
	font-family: 'Fontdinerdotcom Jazz Dark';
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form .nameBox {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

form .firstPlayerInput {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

form .secondPlayerInput {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

form .firstPlayerInput label, form .secondPlayerInput label {
	font-family: 'Fontdinerdotcom Jazz Dark';
	margin-right: 5px;
}

form .firstPlayerInput input, form .secondPlayerInput input {
	appearance: none;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	color: #fff;
	font-family: 'Fontdinerdotcom Jazz Dark';
}

form .firstPlayerInput input:focus, form .secondPlayerInput input:focus {
	outline: none;
}

form button[type="submit"] {
	margin-top: 20px;
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	font-size: 0;
	background-image: url("Icons/playbutton.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

form button[type="submit"]:hover {
	background-image: url("Icons/playbuttonhover.png");
}

.playingGround {
	position: relative;
	margin-top: -25px;
}

.playingGround .opponentsCardDeck, .playingGround .ownCardDeck {
	max-width : 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 130px;
	margin-bottom: 20px;
}

.playingGround .opponentCardWrapper, .playingGround .ownCardWrapper {
	display: flex;
}

.playingGround .card {
	width: 80px;
	height: 130px;
	transition: all .4s ease-out;
}

.playingGround .card img {
	width: 80px;
	height: 130px;
	transition: all .4s ease-out;
	pointer-events: none;
}

.playingGround .opponentsCardDeck .card img {
	transform-origin: top left;
}

.playingGround .opponentsCardDeck .card {
	pointer-events: all;
}

.playingGround .opponentsCardDeck.noTurn .card {
	pointer-events: none;
}

.playingGround .ownCardDeck .card img {
	transform-origin: bottom left;
}

.playingGround .ownCardDeck .turnOver {
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-out;
	color: #fff;
	font-family: 'Fontdinerdotcom Jazz Dark';
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 5;
	cursor: pointer;
	font-size: 24px;
}

.playingGround .ownCardDeck .turnOver.active {
	opacity: 1;
	visibility: visible;
}

.playingGround .ownCardDeck {
	pointer-events: none;
}

.playingGround .opponentsCardDeck .startEvaluation, .playingGround .opponentsCardDeck .startEvaluationFinal {
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-out;
	font-family: 'Fontdinerdotcom Jazz Dark';
	color: #fff;
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 5;
}

.playingGround .opponentsCardDeck .startEvaluation input, .playingGround .opponentsCardDeck .startEvaluationFinal input {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	font-size: 24px;
}

.playingGround .opponentsCardDeck .startEvaluation input:focus, .playingGround .opponentsCardDeck .startEvaluationFinal input:focus {
	outline: none;
}

.playingGround .opponentsCardDeck .startEvaluation.active, .playingGround .opponentsCardDeck .startEvaluationFinal.active {
	opacity: 1;
	visibility: visible;
}

.playingGround .opponentsCardDeck .card:hover img, .playingGround .ownCardDeck .card:hover img {
	transform: scale(1.5);
}

.playingGround .playingBoard {
	width: 300px;
	height: 300px;
	display: block;
	/*background-color: #cccccc;*/
	margin-left: auto;
	margin-right: auto;
	background-image: url("Images/playingboard.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 40px;
	position: relative;
}

.playingGround .playingBoard .card {
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
}

.playingGround .playingBoard .card:first-of-type {
	position: absolute;
	top: auto;
	bottom: 55px;
	left: 50%;
	transform: translateX(-50%);
}

.playingGround .trumpDisplay {
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playingGround .trumpDisplay p {
	color: #fff;
}

.playingGround .trumpDisplay > div {
	width: 50px;
	height: 50px;
	display: block;
}

.playingGround .trumpDisplay > div.rot {
	background-image: url("Icons/trumpred.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.playingGround .trumpDisplay > div.gelb {
	background-image: url("Icons/trumpyellow.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.playingGround .trumpDisplay > div.gruen {
	background-image: url("Icons/trumpgreen.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.playingGround .trumpDisplay > div.blau {
	background-image: url("Icons/trumpblue.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.playingGround .pointBoard {
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 100%;
}

.playingGround .pointBoard .row {
	display: flex;
	background-color: rgba(148,102,169,0.5);
} 

.playingGround .pointBoard p {
	color: #fff;
}

.playingGround .pointBoard .row > div {
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	border: 1px solid #583D65;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playingGround .pointBoard .row > div p {
	margin: 0;
}

.playingGround .pointBoard .row > div:first-child {
	flex-basis: 40px;
	max-width: 40px;
	width: 100%;
}

.playingGround .pointBoard .row.firstRow > div:not(:first-child) {
	flex-basis: calc((100% - 40px) / 2);
	max-width: calc((100% - 40px) / 2);
	width: 100%;
}

.playingGround .pointBoard .row:not(.firstRow) .playerOnePoints, .playingGround .pointBoard .row:not(.firstRow) .playerTwoPoints {
	flex-basis: calc(((100% - 40px) / 2) - 40px);
	max-width: calc(((100% - 40px) / 2) - 40px);
	width: 100%;
}

.playingGround .pointBoard .row:not(.firstRow) .playerOneTricks, .playingGround .pointBoard .row:not(.firstRow) .playerTwoTricks {
	flex-basis: 40px;
	max-width: 40px;
	width: 100%;
}