@model Wizard_Aydin_Olga.Models.WizardModel
@using (Html.BeginForm("GameView", "Wizard", FormMethod.Get))
{
    <div class="playingGround">
        <div class="opponentsCardDeck">
            <div class="card" data-color="blue" data-value="8" data-beatable="9" draggable="true" ondragstart="onDragStart(event);">
                <img src="../Content/Karten/blaue8.png" />
            </div>
        </div>
        <div id="playingBoard" class="playingBoard" ondragover="onDragOver(event);" ondrop="onDrop(event);"></div>
        <div class="ownCardDeck">
            <div class="card" data-color="blue" data-value="10" data-beatable="11" draggable="true" ondragstart="onDragStart(event);">
                <img src="../Content/Karten/blaue10.png" />
                <form method="post" action="/Home/BenutzerAusgewählt">
                    <div class="btnBenutzers" align="center" style="width: 100%">
                        @*@foreach (var kartenListe in Model.KartenAufDerHand)
                            {

                            }*@
                    </div>
                </form>
            </div>
        </div>
        <div class="trumpDisplay">
            <p>Trumpf:</p>
            <div class="@Model.Trumpf"></div>
        </div>
        <div class="pointBoard">
            <div class="firstRow row">
                <div class="round">&nbsp;</div>
                <div class="playerOnePoints">@Model.SpielerName1</div>
                <div class="playerTwoPoints">@Model.SpielerName2</div>
            </div>
            <div class="row">
                <div class="round"><p>1</p></div>
                <div class="playerOnePoints"><p>&nbsp;</p></div>
                <div class="playerOneTricks"><p>1</p></div>
                <div class="playerTwoPoints"><p>&nbsp;</p></div>
                <div class="playerTwoTricks"><p>0</p></div>
            </div>
        </div>
    </div>
}
