@model Wizard_Aydin_Olga.Models.WizardModel
﻿
<!DOCTYPE html>
<html>
<head>
	<title>Wizard Online</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../Content/gameView.css">
</head>
<body>
	<div class="opponentsCardDeck">
		<div class="card" data-color="green" data-value="7" data-beatable="8">
		</div>
	</div>
	<div class="playingBoard"></div>
	<div class="ownCards">
		<div class="card">

		</div>
	</div>
	<div class="trumpDisplay">
		<p>Trumpf:</p>
	</div>
	<div class="pointBoard">
		<div class="round"></div>
		<div class="playerOne"></div>
		<div class="playerTwo"></div>
	</div>
</body>
</html>
