@model Wizard_Aydin_Olga.Models.WizardModel
﻿
<!DOCTYPE html>
<html>
<head>
    <title>Wizard Online</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Willkommen, anstrebende Zauberer!</h1>
	<p>Möchtet Ihr Eure Sinne erweitern?</p>
	<p>Möchtest du und dein Freund gemeinsam die Herausforderung bestreiten,<br/> eure Gabe der Vorhersehung zu entwickeln und zu festigen?</p>
	<p>Dann gebt euren Namen ein und drückt auf den Knopf!</p>

    <div class="nameBox">
        @using (Html.BeginForm("StartView", "Wizard", FormMethod.Post))
        {
            <div class="firstPlayerInput">
                <label for="SpielerName1">Spielername 1</label>
                @Html.TextBoxFor(model => model.SpielerName1)
            </div>
            <div class="secondPlayerInput">
                <label for="SpielerName2">Spielername 2</label>
                @Html.TextBoxFor(model => model.SpielerName2)
            </div>
            <button type="submit">Spiel starten</button>
        </div>
    }

</body>
</html>
