@model Wizard_Aydin_Olga.Models.WizardModel
﻿

<div class="startText">
    <h1>Willkommen, anstrebender Zauberer!</h1>
    <p>Möchtest Du Deine Sinne erweitern?</p>
    <p>Möchtest Du die Herausforderung bestreiten,<br /> Deine Gabe der Vorhersehung zu entwickeln und zu festigen?</p>
    <p>Dann gib Deinen Namen und den Deines Gegners ein und drück auf den Knopf!</p>

    @using (Html.BeginForm("StartView", "Wizard", FormMethod.Post))
    {
        <div class="nameBox">
            <div class="firstPlayerInput">
                <label for="SpielerName1">Erster Spieler</label>
                @Html.TextBoxFor(model => model.SpielerListe[0].SpielerName)
            </div>
            <div class="secondPlayerInput">
                <label for="SpielerName2">Zweiter Spieler</label>
                @Html.TextBoxFor(model => model.SpielerListe[1].SpielerName)
            </div>
            <button type="submit">Spiel starten</button>
        </div>
    }
</div>
